.me_container {
    font-size: 16px;
    /* margin: 20px; */
    height: 100%;
    width: 100%;
    /* max-width: 500px; */
    /* display: grid; */
    /* grid-template-columns: 10px 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
}

.me_top_box {
    border-left: 5px solid var(--red);
    /* height: 300px; */
    margin-bottom: 40px;
}

.me_head {
    /* Keep left (final) padding same as span on left of me_segment */
    padding: 0px 0px 0px 10px;
    font-size: 26px; 
}

.me_segment {
    /* background-color: var(--green-mint);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='gray' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    max-width: 400px;
}

.me_segment_two {
    background-color: var(--green-green);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='gray' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    border-radius: 10px;
    color: white;
    padding: 20px;
    margin: 10px;
}

.me_footer {
    background-color: var(--green-green);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='gray' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    border-radius: 10px;
    color: white;
    padding: 20px;
    /* grid-column: 1/-1; */
}

.me_footer a {
    color: var(--red);
}

.me_placeholder {
    display: none;
}

@media only screen and (max-width: 900px) {
    /* .me_placeholder {
        display: inline-block;
    }
    .me_segment {
        display: none;
    } */
}