.about_container {
    font-size: 14px;
    margin: 20px;
}

.about_segment {
    background-color: var(--green-mint);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='gray' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    border-radius: 10px;
    color: white;
    padding: 20px;
    margin: 10px;
}

.about_segment_two {
    background-color: var(--green-green);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='gray' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    border-radius: 10px;
    color: white;
    padding: 20px;
    margin: 10px;
}