.splash_container {
   max-width: 100%;
   font-size: 1em;
   /* overflow-wrap:  */
}

.portrait_container {
   width: 200px;
   overflow: hidden;
}

.portrait_container img {
   width: 200px;
   height: 200px;
   object-fit: cover;
   border-radius: 999px;
   transform: scale(1.2);
}

.top_container {
   display: flex;
}

.intro_container p {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   margin: 0px;
   margin-left: 10px;
   font-size: 40px;
}

.bluetext {
   text-decoration: none;
   color: #caefff;
}