
.photos_head {
    display: flex;
    justify-content: left;
    padding: 0px 30px 0px 30px;
}

.photos_container {
   display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 7px;
    padding: 30px;
}

.enlarged_photo_background {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .7);
    margin: auto;
}

/* Contains controls */
.enlarged_photo_container {
    width: 100%;
    max-width: 1100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: grid;
    grid-template-columns: 70px 1fr 70px;
}

.enlarged_photo {
    width: 100%;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, .7);
}

.photo_carousel_control_left {
    height: 30%;
    position: relative;
    color: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 30%;
    margin: auto;
    width: 100%;
    transition: .3s;

}

.photo_carousel_control_left:hover {
    cursor: pointer;
    color: var(--white);
    /* font-size: 26px; */
}

.photo_carousel_control_right {
    height: 30%;
    position: relative;
    color: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 100%;
    margin: auto;
    width: 100%;
    transition: .3s;
}

.photo_carousel_control_right:hover {
    cursor: pointer;
    color: var(--white);
    /* font-size: 26px; */
}



.photo_container {
    display: flex;
    border: 1px solid black; 
    overflow: hidden;
}

.photo_small {
    filter: blur(10px);
}

.photo_container img {
    width: 100%;
}

.photo_container img:hover {
    cursor: pointer;
}