:root {
  --light-blue: rgba(225, 245, 254, 1);
  --light-yellow: rgba(254, 242, 225, 1);
  --light-red: rgba(254, 228, 225, 1);
  --medium-blue:#caefff;
  --medium-green: #ddffca;
  --medium-red: #ffceca;

  --white: #FEFEFC;
  --purple: #BEB7E2;
  --red: #CC6267;
  --green-mint: #8ED5BB;
  --green-green: #45C695;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

